<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Aggregating-and-Combining-pandas-DataFrames" data-toc-modified-id="Aggregating-and-Combining-pandas-DataFrames-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Aggregating and Combining <code>pandas</code> DataFrames</a></span><ul class="toc-item"><li><span><a href="#Learning-Goals" data-toc-modified-id="Learning-Goals-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Learning Goals</a></span><ul class="toc-item"><li><span><a href="#Austin-Animal-Center-Data" data-toc-modified-id="Austin-Animal-Center-Data-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Austin Animal Center Data</a></span></li></ul></li><li><span><a href="#Aggregating-over-DataFrames:-.groupby()" data-toc-modified-id="Aggregating-over-DataFrames:-.groupby()-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Aggregating over DataFrames: <code>.groupby()</code></a></span><ul class="toc-item"><li><span><a href="#.groups-and-.get_group()" data-toc-modified-id=".groups-and-.get_group()-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span><code>.groups</code> and <code>.get_group()</code></a></span><ul class="toc-item"><li><span><a href="#Multi-Indexing" data-toc-modified-id="Multi-Indexing-1.2.1.1"><span class="toc-item-num">1.2.1.1&nbsp;&nbsp;</span>Multi-Indexing</a></span></li></ul></li><li><span><a href="#Aggregating" data-toc-modified-id="Aggregating-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Aggregating</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Pivoting-a-DataFrame" data-toc-modified-id="Pivoting-a-DataFrame-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Pivoting a DataFrame</a></span><ul class="toc-item"><li><span><a href="#.pivot_table()" data-toc-modified-id=".pivot_table()-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span><code>.pivot_table()</code></a></span><ul class="toc-item"><li><span><a href="#Example" data-toc-modified-id="Example-1.3.1.1"><span class="toc-item-num">1.3.1.1&nbsp;&nbsp;</span>Example</a></span></li><li><span><a href="#Back-to-Austin-animals" data-toc-modified-id="Back-to-Austin-animals-1.3.1.2"><span class="toc-item-num">1.3.1.2&nbsp;&nbsp;</span>Back to Austin animals</a></span></li></ul></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Methods-for-Combining-DataFrames:-.join(),-.merge(),-pd.concat()" data-toc-modified-id="Methods-for-Combining-DataFrames:-.join(),-.merge(),-pd.concat()-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Methods for Combining DataFrames: <code>.join()</code>, <code>.merge()</code>, <code>pd.concat()</code></a></span><ul class="toc-item"><li><span><a href="#.join()" data-toc-modified-id=".join()-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span><code>.join()</code></a></span></li><li><span><a href="#.merge()" data-toc-modified-id=".merge()-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span><code>.merge()</code></a></span></li><li><span><a href="#The-how-Parameter" data-toc-modified-id="The-how-Parameter-1.4.3"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>The <code>how</code> Parameter</a></span></li><li><span><a href="#pd.concat()" data-toc-modified-id="pd.concat()-1.4.4"><span class="toc-item-num">1.4.4&nbsp;&nbsp;</span><code>pd.concat()</code></a></span></li><li><span><a href="#EXTRA" data-toc-modified-id="EXTRA-1.4.5"><span class="toc-item-num">1.4.5&nbsp;&nbsp;</span>EXTRA</a></span></li></ul></li><li><span><a href="#King-County-Assessments" data-toc-modified-id="King-County-Assessments-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>King County Assessments</a></span><ul class="toc-item"><li><span><a href="#First,-get-the-data!" data-toc-modified-id="First,-get-the-data!-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>First, get the data!</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Time-Permitting:-Data-Cleaning-with-Pandas" data-toc-modified-id="Time-Permitting:-Data-Cleaning-with-Pandas-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Time Permitting: Data Cleaning with Pandas</a></span><ul class="toc-item"><li><span><a href="#1.-Investigate-and-drop-rows-with-invalid-values-in-the-SalePrice-and-SqFtTotLiving-columns." data-toc-modified-id="1.-Investigate-and-drop-rows-with-invalid-values-in-the-SalePrice-and-SqFtTotLiving-columns.-1.6.1"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>1. Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.</a></span></li><li><span><a href="#2.-Investigate-and-handle-non-numeric-ZipCode-values" data-toc-modified-id="2.-Investigate-and-handle-non-numeric-ZipCode-values-1.6.2"><span class="toc-item-num">1.6.2&nbsp;&nbsp;</span>2. Investigate and handle non-numeric ZipCode values</a></span></li><li><span><a href="#3.-Add-a-column-for-PricePerSqFt" data-toc-modified-id="3.-Add-a-column-for-PricePerSqFt-1.6.3"><span class="toc-item-num">1.6.3&nbsp;&nbsp;</span>3. Add a column for PricePerSqFt</a></span></li><li><span><a href="#4.-Subset-the-data-to-2021-sales-only." data-toc-modified-id="4.-Subset-the-data-to-2021-sales-only.-1.6.4"><span class="toc-item-num">1.6.4&nbsp;&nbsp;</span>4. Subset the data to 2021 sales only.</a></span></li><li><span><a href="#5.-What-is-the-mean-price-per-square-foot-for-a-house-sold-in-Seattle-in-2021?" data-toc-modified-id="5.-What-is-the-mean-price-per-square-foot-for-a-house-sold-in-Seattle-in-2021?-1.6.5"><span class="toc-item-num">1.6.5&nbsp;&nbsp;</span>5. What is the mean price per square foot for a house sold in Seattle in 2021?</a></span></li></ul></li><li><span><a href="#Level-Up:-pandas.set_option()" data-toc-modified-id="Level-Up:-pandas.set_option()-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Level Up: <code>pandas.set_option()</code></a></span><ul class="toc-item"><li><span><a href="#Block-Scientific-Notation" data-toc-modified-id="Block-Scientific-Notation-1.7.1"><span class="toc-item-num">1.7.1&nbsp;&nbsp;</span>Block Scientific Notation</a></span></li><li><span><a href="#See-More-Rows" data-toc-modified-id="See-More-Rows-1.7.2"><span class="toc-item-num">1.7.2&nbsp;&nbsp;</span>See More Rows</a></span></li></ul></li></ul></li></ul></div>

# Aggregating and Combining `pandas` DataFrames

In [2]:
import pandas as pd
import numpy as np
import requests as rq
from sklearn.preprocessing import OneHotEncoder
from zipfile import ZipFile

## Learning Goals

- Use GroupBy objects to organize and aggregate data
- Create pivot tables from DataFrames
- Combine DataFrames by merging and appending

We'll work with the Austin Animal Center dataset and with data from King County's Department of Assessments (Seattle housing data).

### Austin Animal Center Data

In [3]:
data = rq.get('https://data.austintexas.gov/resource/9t4d-g238.json').text

In [4]:
animals = pd.read_json(data)

In [5]:
animals.head()

,animal_id,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,name
0,A862733,2022-08-04 11:42:00,2022-08-04T11:42:00.000,2022-03-30T00:00:00.000,Euthanasia,Suffering,Other,Unknown,4 months,Raccoon,Gray/Black,NaN
1,A861193,2022-08-04 06:49:00,2022-08-04T06:49:00.000,2019-07-08T00:00:00.000,Adoption,Foster,Dog,Spayed Female,3 years,English Foxhound/Pointer,Tan/White,*Caprisun
2,A862830,2022-08-03 19:11:00,2022-08-03T19:11:00.000,2002-08-01T00:00:00.000,Adoption,NaN,Dog,Intact Male,20 years,Miniature Poodle Mix,Apricot,Andy
3,A862858,2022-08-03 19:10:00,2022-08-03T19:10:00.000,2016-08-01T00:00:00.000,Adoption,NaN,Dog,Neutered Male,6 years,Border Collie,Black/White,Frankie
4,A861176,2022-08-03 18:46:00,2022-08-03T18:46:00.000,2022-05-08T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby,*Kevin

## Aggregating over DataFrames: `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. (And if you haven't, you'll see it very soon!) Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [6]:
animals.groupby('animal_type')

In [7]:
animals.columns

Index(['animal_id', 'datetime', 'monthyear', 'date_of_birth', 'outcome_type',
       'outcome_subtype', 'animal_type', 'sex_upon_outcome',
       'age_upon_outcome', 'breed', 'color', 'name'],
      dtype='object')

We can group by multiple columns, and also return a DataFrameGroupBy object

Notice the object type [DataFrameGroupBy](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html) object.

### `.groups` and `.get_group()`

In [8]:
animals.groupby(['animal_type', 'outcome_type'])

In [9]:
# This retuns each group indexed by the group name: I.E. 'Bird', along with the row indices of each value
animals.groupby('animal_type').groups

{'Bird': [281, 483, 821], 'Cat': [4, 5, 7, 8, 9, 10, 11, 12, 14, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 38, 39, 40, 41, 46, 47, 49, 52, 53, 61, 62, 64, 65, 67, 73, 75, 79, 80, 81, 86, 89, 90, 91, 96, 97, 107, 108, 109, 110, 111, 112, 113, 118, 121, 122, 123, 125, 126, 127, 128, 129, 130, 131, 132, 133, 136, 137, 138, 142, 143, 144, 146, 148, 150, 154, 160, 161, 163, 167, 168, 170, 172, 175, 176, 177, 178, 179, 180, 186, 187, 189, 191, 192, 195, 197, 199, 200, 201, 207, 208, 211, ...], 'Dog': [1, 2, 3, 6, 13, 15, 16, 17, 19, 20, 30, 31, 32, 33, 34, 35, 36, 37, 43, 45, 48, 50, 51, 54, 55, 56, 57, 58, 59, 60, 63, 66, 68, 69, 70, 71, 74, 76, 77, 78, 82, 83, 84, 85, 87, 88, 92, 93, 94, 95, 98, 99, 100, 101, 102, 103, 104, 115, 116, 117, 124, 134, 135, 139, 140, 141, 145, 147, 149, 151, 152, 153, 155, 156, 157, 158, 159, 162, 164, 165, 166, 169, 171, 173, 174, 181, 182, 183, 184, 185, 188, 190, 194, 196, 198, 202, 203, 204, 205, 209, ...], 'Livestock': [576], 'Other': [0, 42, 44, 72, 105, 106, 114, 119, 120, 193, 206, 222, 225, 404, 411, 412, 447, 453, 465, 482, 509, 510, 530, 554, 578, 579, 614, 615, 616, 650, 697, 726, 729, 753, 761, 762, 794, 813, 814, 815, 816, 820, 917, 923, 957, 998]}

Once we know we are working with a type of object, it opens up a suite of attributes and methods. One attribute we can look at is groups.

In [10]:
# Once we know the group indices, we can return the groups using those indices.
animals.groupby('animal_type').get_group('Dog')

,animal_id,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,name
1,A861193,2022-08-04 06:49:00,2022-08-04T06:49:00.000,2019-07-08T00:00:00.000,Adoption,Foster,Dog,Spayed Female,3 years,English Foxhound/Pointer,Tan/White,*Caprisun
2,A862830,2022-08-03 19:11:00,2022-08-03T19:11:00.000,2002-08-01T00:00:00.000,Adoption,NaN,Dog,Intact Male,20 years,Miniature Poodle Mix,Apricot,Andy
3,A862858,2022-08-03 19:10:00,2022-08-03T19:10:00.000,2016-08-01T00:00:00.000,Adoption,NaN,Dog,Neutered Male,6 years,Border Collie,Black/White,Frankie
6,A862689,2022-08-03 18:10:00,2022-08-03T18:10:00.000,2022-05-19T00:00:00.000,Adoption,NaN,Dog,Spayed Female,2 months,Great Pyrenees Mix,White,A862689
13,A858974,2022-08-03 17:01:00,2022-08-03T17:01:00.000,2020-06-07T00:00:00.000,Adoption,NaN,Dog,Neutered Male,2 years,Pit Bull,Red/White,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...
986,A859163,2022-07-11 16:38:00,2022-07-11T16:38:00.000,2020-06-09T00:00:00.000,Adoption,NaN,Dog,Neutered Male,2 years,American Bulldog Mix,Brown/White,*Squirrel
987,A860073,2022-07-11 16:34:00,2022-07-11T16:34:00.000,2011-06-22T00:00:00.000,Adoption,Foster,Dog,Neutered Male,11 years,Chihuahua Shorthair,Black/White,Gus
988,A860337,2022-07-11 16:33:00,2022-07-11T16:33:00.000,2021-06-27T00:00:00.000,Rto-Adopt,NaN,Dog,Neutered Male,1 year,Pit Bull Mix,Brown Brindle/White,Dilinger Romines
989,A859582,2022-07-11 16:22:00,2022-07-11T16:22:00.000,2019-06-15T00:00:00.000,Adoption,NaN,Dog,Spayed Female,3 years,Pit Bull,Brown/White,Stacy
995,A861009,2022-07-11 15:43:00,2022-07-11T15:43:00.000,2019-07-07T00:00:00.000,Transfer,Partner,Dog,Intact Female,3 years,Chihuahua Longhair,Black/Brown,A861009

How would you get the same dataframe using dataframe slicing?

#### Multi-Indexing

In [11]:
# Same goes for multi index groupbys
animal_outcome = animals.groupby(['animal_type', 'outcome_type'])
animal_outcome.groups

{('Bird', 'Euthanasia'): [483, 821], ('Bird', 'Return to Owner'): [281], ('Cat', 'Adoption'): [4, 5, 7, 8, 9, 10, 11, 12, 14, 18, 21, 29, 49, 52, 61, 62, 65, 67, 73, 75, 79, 80, 81, 86, 90, 96, 97, 107, 118, 121, 122, 123, 129, 130, 131, 132, 133, 138, 146, 150, 154, 160, 161, 163, 167, 168, 170, 172, 175, 176, 177, 178, 189, 191, 192, 195, 199, 200, 201, 207, 208, 211, 212, 214, 215, 216, 217, 218, 224, 228, 250, 251, 253, 254, 255, 257, 259, 260, 263, 264, 270, 271, 272, 273, 275, 280, 302, 304, 305, 306, 307, 313, 314, 317, 319, 321, 322, 323, 336, 369, ...], ('Cat', 'Died'): [148, 186, 197, 256, 419, 906, 959], ('Cat', 'Euthanasia'): [46, 47, 64, 91, 552, 641, 764, 786, 817, 920, 927, 950, 997, 999], ('Cat', 'Return to Owner'): [125, 126, 127, 128, 187, 311, 503, 612, 671, 883, 929, 961], ('Cat', 'Rto-Adopt'): [53, 386, 485, 486], ('Cat', 'Transfer'): [22, 23, 24, 25, 26, 27, 28, 38, 39, 40, 41, 89, 108, 109, 110, 111, 112, 113, 136, 137, 142, 143, 144, 179, 180, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 284, 285, 286, 287, 288, 290, 291, 292, 293, 295, 296, 297, 298, 299, 316, 325, 326, 396, 407, 408, 409, 410, 416, 417, 458, 460, 461, 462, 489, 490, 491, 504, 555, 556, 557, 558, 625, 643, 645, 649, 654, 655, 656, 657, 660, 661, 683, 684, 685, 686, 703, 720, 745, 799, 800, 801, ...], ('Dog', 'Adoption'): [1, 2, 3, 6, 13, 15, 17, 48, 51, 55, 56, 57, 58, 59, 60, 63, 66, 68, 69, 70, 71, 74, 76, 77, 78, 82, 83, 84, 85, 87, 88, 92, 93, 94, 95, 98, 103, 104, 124, 134, 139, 140, 141, 145, 147, 149, 151, 152, 153, 155, 156, 157, 158, 159, 162, 164, 165, 166, 169, 171, 181, 182, 190, 194, 196, 198, 203, 204, 205, 219, 220, 221, 248, 252, 258, 261, 262, 265, 266, 267, 268, 269, 274, 278, 279, 289, 294, 300, 301, 303, 308, 309, 312, 315, 367, 368, 370, 371, 372, 374, ...], ('Dog', 'Died'): [405, 413, 414, 476, 477, 611, 702, 947], ('Dog', 'Euthanasia'): [54, 173, 174, 213, 415, 695, 866, 936], ('Dog', 'Return to Owner'): [16, 45, 50, 101, 115, 116, 117, 135, 188, 202, 209, 210, 223, 226, 227, 249, 282, 310, 318, 397, 399, 400, 403, 445, 466, 529, 564, 574, 577, 642, 688, 692, 699, 724, 749, 758, 759, 766, 767, 768, 770, 782, 784, 798, 805, 836, 850, 860, 861, 865, 918, 919, 930, 940, 945, 946, 955, 956], ('Dog', 'Rto-Adopt'): [19, 102, 488, 511, 653, 715, 755, 797, 809, 988], ('Dog', 'Transfer'): [20, 30, 31, 32, 33, 34, 35, 36, 37, 43, 99, 100, 183, 184, 185, 276, 277, 283, 320, 324, 327, 328, 329, 330, 331, 332, 333, 334, 335, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 401, 402, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 501, 506, 507, 525, 526, 527, 528, 549, 551, 572, 573, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, ...], ('Livestock', 'Euthanasia'): [576], ('Other', 'Adoption'): [106, 453, 482], ('Other', 'Disposal'): [193, 225, 579, 957], ('Other', 'Euthanasia'): [0, 44, 72, 105, 114, 119, 120, 206, 222, 404, 411, 412, 465, 509, 510, 530, 554, 578, 650, 697, 726, 729, 794, 820, 923, 998], ('Other', 'Return to Owner'): [614, 615, 616], ('Other', 'Transfer'): [42, 447, 753, 761, 762, 813, 814, 815, 816, 917]}

In [12]:
# animal_outcome.groups is a dictionary, so we can access the group names using keys()
animal_outcome.groups.keys()

dict_keys([('Bird', 'Euthanasia'), ('Bird', 'Return to Owner'), ('Cat', 'Adoption'), ('Cat', 'Died'), ('Cat', 'Euthanasia'), ('Cat', 'Return to Owner'), ('Cat', 'Rto-Adopt'), ('Cat', 'Transfer'), ('Dog', 'Adoption'), ('Dog', 'Died'), ('Dog', 'Euthanasia'), ('Dog', 'Return to Owner'), ('Dog', 'Rto-Adopt'), ('Dog', 'Transfer'), ('Livestock', 'Euthanasia'), ('Other', 'Adoption'), ('Other', 'Disposal'), ('Other', 'Euthanasia'), ('Other', 'Return to Owner'), ('Other', 'Transfer')])

In [13]:
# We can then get a specific group, such as Cats that were adopted
animal_outcome.get_group(('Cat', 'Adoption'))

,animal_id,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,name
4,A861176,2022-08-03 18:46:00,2022-08-03T18:46:00.000,2022-05-08T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby,*Kevin
5,A861895,2022-08-03 18:27:00,2022-08-03T18:27:00.000,2022-04-25T00:00:00.000,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Medium Hair Mix,Black,*Mack
7,A860360,2022-08-03 17:54:00,2022-08-03T17:54:00.000,2022-05-27T00:00:00.000,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Brown Tabby/White,*Benny
8,A860014,2022-08-03 17:54:00,2022-08-03T17:54:00.000,2022-05-03T00:00:00.000,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Brown Tabby,*Penny
9,A858261,2022-08-03 17:46:00,2022-08-03T17:46:00.000,2022-04-27T00:00:00.000,Adoption,Foster,Cat,Neutered Male,3 months,Domestic Medium Hair,Black/White,Tubby
...,...,...,...,...,...,...,...,...,...,...,...,...
990,A860546,2022-07-11 16:21:00,2022-07-11T16:21:00.000,2022-03-29T00:00:00.000,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Torbie,*Teresa
991,A858559,2022-07-11 16:14:00,2022-07-11T16:14:00.000,2017-05-31T00:00:00.000,Adoption,NaN,Cat,Neutered Male,5 years,Domestic Shorthair,Brown Tabby,*Albert
992,A860447,2022-07-11 16:08:00,2022-07-11T16:08:00.000,2022-04-13T00:00:00.000,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Medium Hair Mix,Chocolate,A860447
993,A860448,2022-07-11 16:08:00,2022-07-11T16:08:00.000,2022-04-13T00:00:00.000,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Medium Hair Mix,White/Blue,A860448
996,A859711,2022-07-11 15:32:00,2022-07-11T15:32:00.000,2021-06-17T00:00:00.000,Adoption,NaN,Cat,Neutered Male,1 year,Domestic Shorthair,Brown Tabby/White,Willow

### Aggregating

Once again, as we will see in SQL, groupby objects are intended to be used with aggregation. In SQL, we will see that our queries that include GROUP BY require aggregation performed on columns.

We can use `.sum()`, `.mean()`, `.count()`, `.max()`, `.min()`, etc. Find a list of common aggregations [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html).

In [14]:
animals.groupby('animal_type').count()

,animal_id,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome,breed,color,name
animal_type,,,,,,,,,,,
Bird,3,3,3,3,3,2,3,3,3,3,1
Cat,445,445,445,445,445,227,445,445,445,445,356
Dog,505,505,505,505,505,211,505,505,505,505,418
Livestock,1,1,1,1,1,1,1,1,1,1,0
Other,46,46,46,46,46,34,46,46,46,46,14

### Exercise

Use `.groupby()` to find the most recently born of each (main) animal type.

In [16]:
animals.groupby('animal_type')['date_of_birth'].max()

animal_type
Bird         2021-07-22T00:00:00.000
Cat          2022-07-28T00:00:00.000
Dog          2022-07-30T00:00:00.000
Livestock    2022-06-20T00:00:00.000
Other        2022-05-08T00:00:00.000
Name: date_of_birth, dtype: object

<details>
    <summary>Answer</summary>
    <code>animals.groupby('animal_type')['date_of_birth'].max()</code>
    </details>

## Pivoting a DataFrame

### `.pivot_table()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

Grouping by two different columns can be very helpful.

In [17]:
animals.groupby(by=['outcome_type', 'sex_upon_outcome']).agg(len)

                                  animal_id  datetime  monthyear  \
outcome_type    sex_upon_outcome
Adoption        Intact Female             7         7          7
                Intact Male               6         6          6
                Neutered Male           271       271        271
                Spayed Female           272       272        272
                Unknown                   1         1          1
Died            Intact Female             2         2          2
                Intact Male               5         5          5
                Neutered Male             1         1          1
                Unknown                   7         7          7
Disposal        Unknown                   4         4          4
Euthanasia      Intact Female             7         7          7
                Intact Male               5         5          5
                Neutered Male             5         5          5
                Spayed Female             3         3          3
                Unknown                  31        31         31
Return to Owner Intact Female            23        23         23
                Intact Male              21        21         21
                Neutered Male            15        15         15
                Spayed Female            14        14         14
                Unknown                   1         1          1
Rto-Adopt       Intact Female             2         2          2
                Intact Male               1         1          1
                Neutered Male             7         7          7
                Spayed Female             4         4          4
Transfer        Intact Female           115       115        115
                Intact Male             113       113        113
                Neutered Male            19        19         19
                Spayed Female            17        17         17
                Unknown                  21        21         21

                                  date_of_birth  outcome_subtype  animal_type  \
outcome_type    sex_upon_outcome
Adoption        Intact Female                 7                7            7
                Intact Male                   6                6            6
                Neutered Male               271              271          271
                Spayed Female               272              272          272
                Unknown                       1                1            1
Died            Intact Female                 2                2            2
                Intact Male                   5                5            5
                Neutered Male                 1                1            1
                Unknown                       7                7            7
Disposal        Unknown                       4                4            4
Euthanasia      Intact Female                 7                7            7
                Intact Male                   5                5            5
                Neutered Male                 5                5            5
                Spayed Female                 3                3            3
                Unknown                      31               31           31
Return to Owner Intact Female                23               23           23
                Intact Male                  21               21           21
                Neutered Male                15               15           15
                Spayed Female                14               14           14
                Unknown                       1                1            1
Rto-Adopt       Intact Female                 2                2            2
                Intact Male                   1                1            1
                Neutered Male                 7                7            7
                Spayed Female                 4                4            4
Transfer        Intact Female               115              115          115
                Intact Male                 113              113          113
                Neutered Male                19               19           19
                Spayed Female                17               17           17
                Unknown                      21               21           21

                                  age_upon_outcome  breed  color  name
outcome_type    sex_upon_outcome
Adoption        Intact Female                    7      7      7     7
                Intact Male                      6      6      6     6
                Neutered Male                  271    271    271   271
                Spayed Female                  272    272    272   272
                Unknown                          1      1      1     1
Died            Intact Female                    2      2      2     2
                Intact Male                      5      5      5     5
                Neutered Male                    1      1      1     1
                Unknown                          7      7      7     7
Disposal        Unknown                          4      4      4     4
Euthanasia      Intact Female                    7      7      7     7
                Intact Male                      5      5      5     5
                Neutered Male                    5      5      5     5
                Spayed Female                    3      3      3     3
                Unknown                         31     31     31    31
Return to Owner Intact Female                   23     23     23    23
                Intact Male                     21     21     21    21
                Neutered Male                   15     15     15    15
                Spayed Female                   14     14     14    14
                Unknown                          1      1      1     1
Rto-Adopt       Intact Female                    2      2      2     2
                Intact Male                      1      1      1     1
                Neutered Male                    7      7      7     7
                Spayed Female                    4      4      4     4
Transfer        Intact Female                  115    115    115   115
                Intact Male                    113    113    113   113
                Neutered Male                   19     19     19    19
                Spayed Female                   17     17     17    17
                Unknown                         21     21     21    21

But it has the unsavory side effect of creating a two-level index. This can be a good time to use `.pivot_table()`.

(There is also a `.pivot()`. For the somewhat subtle differences, see [here](https://stackoverflow.com/questions/30960338/pandas-difference-between-pivot-and-pivot-table-why-is-only-pivot-table-workin).)

#### Example

In [18]:
df = pd.DataFrame({"sex": ["male", "male", "male", "male", "male",
                          "female", "female", "female", "female"],
                    "num_puppies": ["one", "one", "one", "two", "two",
                          "one", "one", "two", "two"],
                    "breed": ["terrier", "retriever", "retriever", "terrier",
                          "terrier", "retriever", "terrier", "terrier",
                          "retriever"],
                    "past_owners": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                    "family_members": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df

      sex num_puppies      breed  past_owners  family_members
0    male         one    terrier            1               2
1    male         one  retriever            2               4
2    male         one  retriever            2               5
3    male         two    terrier            3               5
4    male         two    terrier            3               6
5  female         one  retriever            4               6
6  female         one    terrier            5               8
7  female         two    terrier            6               9
8  female         two  retriever            7               9

In [19]:
# This first example aggregates values by taking the sum.

table = pd.pivot_table(df, values='past_owners', index=['sex', 'num_puppies'],
                     columns=['breed'], aggfunc=np.sum)
table

breed               retriever  terrier
sex    num_puppies
female one                4.0      5.0
       two                7.0      6.0
male   one                4.0      1.0
       two                NaN      6.0

#### Back to Austin animals

In [20]:
animals.pivot_table(index='outcome_type', columns='sex_upon_outcome', aggfunc=len)

                 age_upon_outcome                                          \
sex_upon_outcome    Intact Female Intact Male Neutered Male Spayed Female
outcome_type
Adoption                      7.0         6.0         271.0         272.0
Died                          2.0         5.0           1.0           NaN
Disposal                      NaN         NaN           NaN           NaN
Euthanasia                    7.0         5.0           5.0           3.0
Return to Owner              23.0        21.0          15.0          14.0
Rto-Adopt                     2.0         1.0           7.0           4.0
Transfer                    115.0       113.0          19.0          17.0

                             animal_id                            \
sex_upon_outcome Unknown Intact Female Intact Male Neutered Male
outcome_type
Adoption             1.0           7.0         6.0         271.0
Died                 7.0           2.0         5.0           1.0
Disposal             4.0           NaN         NaN           NaN
Euthanasia          31.0           7.0         5.0           5.0
Return to Owner      1.0          23.0        21.0          15.0
Rto-Adopt            NaN           2.0         1.0           7.0
Transfer            21.0         115.0       113.0          19.0

                                        ...          name              \
sex_upon_outcome Spayed Female Unknown  ... Intact Female Intact Male
outcome_type                            ...
Adoption                 272.0     1.0  ...           7.0         6.0
Died                       NaN     7.0  ...           2.0         5.0
Disposal                   NaN     4.0  ...           NaN         NaN
Euthanasia                 3.0    31.0  ...           7.0         5.0
Return to Owner           14.0     1.0  ...          23.0        21.0
Rto-Adopt                  4.0     NaN  ...           2.0         1.0
Transfer                  17.0    21.0  ...         115.0       113.0

                                                     outcome_subtype  \
sex_upon_outcome Neutered Male Spayed Female Unknown   Intact Female
outcome_type
Adoption                 271.0         272.0     1.0             7.0
Died                       1.0           NaN     7.0             2.0
Disposal                   NaN           NaN     4.0             NaN
Euthanasia                 5.0           3.0    31.0             7.0
Return to Owner           15.0          14.0     1.0            23.0
Rto-Adopt                  7.0           4.0     NaN             2.0
Transfer                  19.0          17.0    21.0           115.0


sex_upon_outcome Intact Male Neutered Male Spayed Female Unknown
outcome_type
Adoption                 6.0         271.0         272.0     1.0
Died                     5.0           1.0           NaN     7.0
Disposal                 NaN           NaN           NaN     4.0
Euthanasia               5.0           5.0           3.0    31.0
Return to Owner         21.0          15.0          14.0     1.0
Rto-Adopt                1.0           7.0           4.0     NaN
Transfer               113.0          19.0          17.0    21.0

[7 rows x 50 columns]

### Exercise

Use `.pivot_table()` to add up the number of my tasks by category. Hint: Use `sum()` as your aggregating function.

In [21]:
tasks = pd.DataFrame({'category': ['house', 'house', 'school', 'school'],
                      'descr': ['kitchen', 'laundry', 'git', 'Python'],
                      'priority': [2, 3, 4, 1], 'num_tasks': [2, 1, 2, 3]})

tasks

  category    descr  priority  num_tasks
0    house  kitchen         2          2
1    house  laundry         3          1
2   school      git         4          2
3   school   Python         1          3

In [22]:
tasks.pivot_table(values='num_tasks',index='category',aggfunc=sum)

          num_tasks
category
house             3
school            5

<details>
    <summary>Answer</summary>
    <code>tasks.pivot_table(values='num_tasks', index='category', aggfunc=sum)</code>
    </details>

## Methods for Combining DataFrames: `.join()`, `.merge()`, `pd.concat()`

### `.join()`

In [23]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'MP'])

toy1

   age   HP
0   63  142
1   33   47

In [24]:
toy2

   age   MP
0   63  100
1   33  200

In [25]:
# We can't just join these as they are, since we haven't specified our suffixes.

toy1.join(toy2)

ValueError: columns overlap but no suffix specified: Index(['age'], dtype='object')

In [26]:
toy1.join(toy2, lsuffix='1', rsuffix='2')

   age1   HP  age2   MP
0    63  142    63  100
1    33   47    33  200

If we don't want to keep both, we could set the overlapping column as the index in each DataFrame:

In [ ]:
toy1.set_index('age').join(toy2.set_index('age'))

For more on this method, check out the [doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html)!

### `.merge()`

Or we could use `.merge()`:

In [ ]:
toy1.merge(toy2)

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)
ds_chars

In [ ]:
states = pd.read_csv('data/states.csv', index_col=0)
states

### The `how` Parameter

This parameter in both `.join()` and `.merge()` tells the compiler what sort of join to effect. We'll cover this in detail when we discuss SQL.

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='outer')

### `pd.concat()`

This method takes a *list* of pandas objects as arguments.

In [ ]:
ds_full = pd.concat([ds_chars, states])
ds_full

`pd.concat()`–– and many other pandas operations –– make use of an `axis` parameter. For this particular method I need to specify whether I want to concatenate the DataFrames *row-wise* (`axis=0`) or *column-wise* (`axis=1`). The default is `axis=0`, so let's override that!

In [ ]:
ds_full = pd.concat([ds_chars, states], axis=1)
ds_full

### EXTRA

## King County Assessments

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

### First, get the data!

Go [here](https://info.kingcounty.gov/assessor/DataDownload/default.aspx) and download two files: "Real Property Sales" and "Residential Building". Then unzip them. (Or you can run the cells below if you prefer.)

In [ ]:
# %%bash
# cd data
# curl -o property_sales.zip https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip

In [ ]:
# %%bash
# cd data
# curl -o res_bldg.zip https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip

In [ ]:
# zf = ZipFile('data/property_sales.zip', 'r')
# zf.extractall('data')
# zf.close()

In [ ]:
# zf = ZipFile('data/res_bldg.zip', 'r')
# zf.extractall('data')
# # zf.close()

In [ ]:
# You'll need to use a new encoding here. List of all encodings here:
# https://docs.python.org/3/library/codecs.html#standard-encodings

# Both of these csv files have many columns, so we'll just pre-select
# which ones we want to use.

sales_df = pd.read_csv('data/EXTR_RPSale.csv',
                       encoding='latin-1',
                       usecols=['Major', 'Minor', 'DocumentDate', 'SalePrice'])

In [ ]:
sales_df.info()

In [ ]:
bldg_df = pd.read_csv('data/EXTR_ResBldg.csv',
                     usecols=['Major', 'Minor', 'SqFtTotLiving', 'ZipCode'])

In [ ]:
bldg_df.info()

In [ ]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [ ]:
sales_data.head()

In [ ]:
sales_data.info()

We can see right away that we're missing ZIP codes for many of the sales transactions.

In [ ]:
sales_data.loc[sales_data['ZipCode'].isna()].head()

### Exercise

What percentage of housing records are missing ZIP codes?

<details>
    <summary>Answer</summary>
    <code>sales_data['ZipCode'].isna().sum() / sales_data.shape[0]</code>
    </details>

Let's drop the rows with missing zip codes.

In [ ]:
sales_data = sales_data.loc[~sales_data['ZipCode'].isna(), :]
#sales_data2 = sales_data[~sales_data['ZipCode'].isna()]
sales_data

## Time Permitting: Data Cleaning with Pandas

### 1. Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.

<details>
    <summary>One possible answer here</summary>
    <code>sales_data = sales_data[sales_data['SalePrice'] > 10000]</code>
    </details>

### 2. Investigate and handle non-numeric ZipCode values

Can you find a way to shorten ZIP+4 codes to the first five digits?

In [ ]:
def is_integer(x):
    try:
        _ = int(x)
    except ValueError:
        return False
    return True

sales_data.loc[sales_data['ZipCode'].apply(is_integer) == False, 'ZipCode'].head()

<details>
    <summary>One possible answer here</summary>
    <code>def five_digit_ZIP(x):
    try:
        return int(str(x)[:5])
    except:
        return x
sales_data['ZipCode'] = sales_data['ZipCode'].map(five_digit_ZIP)
sales_data = sales_data.loc[sales_data['ZipCode'].apply(is_integer) == True, :]
sales_data['ZipCode'] = sales_data['ZipCode'].map(int)</code>
    </details>

### 3. Add a column for PricePerSqFt

<details>
    <summary>Answer here</summary>
    <code>sales_data['PricePerSqFt'] = sales_data['SalePrice'] / sales_data['SqFtTotLiving']</code>
    </details>

### 4. Subset the data to 2021 sales only.

We can assume that the DocumentDate is approximately the sale date.

<details>
    <summary>Answer here</summary>
    <code>sales_data['DocumentDate'] = pd.to_datetime(sales_data['DocumentDate'])
sales_data = sales_data.loc[sales_data['DocumentDate'] > '12/31/2020']</code>
    </details>

### 5. What is the mean price per square foot for a house sold in Seattle in 2021?

<details>
    <summary>Answer here</summary>
    <code>sales_data['PricePerSqFt'].mean()</code>
    </details>

## Level Up: `pandas.set_option()`

We can adjust how `pandas` works by setting options in advance.

### Block Scientific Notation

For example, suppose we want to prevent numbers from being displayed in scientific notation.

In [ ]:
df = pd.DataFrame([[1e9, 2e9], [3e9, 4e9]])
df

Then we can use:

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

df

### See More Rows

Or suppose we want `pandas` to show more rows.

In [ ]:
df2 = pd.DataFrame(np.array(range(100)))
df2

In that case we can use:

In [ ]:
pd.set_option('display.max_rows', 100)

df2

For complete documentation, see [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html).